#div_top {
    width: 100%;
    height: 8%;
    line-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #f0ca37;
    box-shadow: 0 2px 20px #ccc;
    position: relative;
    z-index: 3;
}

#div_title {
    text-align: left;
    padding: 0 0;
    margin: 0 0;
    width: 20%;
    height: 100%;
    line-height:100%;
    float: left;
    color: #f0ca37;
}

.div_middle{
    padding:0;
    width:90%;
    margin:10px auto;
    text-align:left;
    text-indent: 2%;/*文字缩进*/
}

.div_goodsList{
    float: left;
    width:20%;
    height:35%;
    margin: 2% 2% 2% 3%;/*上右下左*/
    box-shadow: 0 0 20px #ccc;
}

.div_goodsImg img{
    width:100%;
    height:80%;
    margin:0 auto;
    display:block;
}

.div_goodsDetail button{
    border:0;
    display: inline-block;
    padding:0 10px;
    text-align: center;
    height:30px;
    line-height: 30px;
    background: #CCCCCC;
    color: #fff;
    font-size:14px;
    border-right:3px;

}

.div_goodsDetail .productPrice{
    margin-top: 10px;
    margin-left: 0;
    font-size: 28px;
    font-weight: bold;
    color: #f89406;
}

.div_goodsDetail .addCart{
  float: left;
}