#div_top {
    width: 100%;
    height: 8%;
    line-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #f0ca37;
    box-shadow: 0 2px 20px #ccc;
    position: relative;
    z-index: 3;
}

#div_title {
    text-align: left;
    padding: 0 0;
    margin: 0 0;
    width: 20%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #f0ca37;
}

#div_middle {
    width: 90%;
    height: 80%;
    margin: 0 auto;
}

#div_goods {
    width: 80%;
    height: 50%;
    margin: 2% auto;
    box-shadow: 0 0 10px #eee;
}

#img_goods {
    width: 30%;
    height: 100%;
    margin: 0;
}

#div_goodsDetail {
    width: 70%;
    height: 100%;
    margin: 0;
    float: right;
}

#div_goodsDetail_up{
    width: 100%;
    height: 60%;
    margin: 0;
    float: right;
}

#goodsName {
    float: left;
    width: 80%;
    margin: 3%;
}

#goodsPriceNoDiscount {
    float: left;
    width: 100%;
    margin: 3%;
    text-decoration: line-through;
}

#goodsPrice {
    float: left;
    width: 100%;
    margin: 1% 3%;
    color: #f89406;
}

#div_collect{
    width: 90%;
    height: 20%;
    float: left;
}

#img_collect{
    width: 3%;
    height: 30%;
    margin: 3%;
}

#div_ops{
    width: 90%;
    height: 20%;
    float: left;
}

#bt_buyNow {
    width: 20%;
    height: 60%;
    border: 0;
    color: #fff;
    background-color: #f89406;
    margin: 1% 3%;
}

#addToCart {
    width: 20%;
    height: 60%;
    border: 0;
    color: #fff;
    background-color: #3cf;
    margin: 1% 3%;
}

#div_shopInfo {
    width: 80%;
    height: 50%;
    margin: 2% auto;
    box-shadow: 0 0 10px #eee;
}

#div_payForm{
    display: none;
    width: 20%;
    height: 25%;
    position: fixed;
    top: 30%;
    left: 40%;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px #ccc;
    z-index: 10;
}

#bt_payForm_confirm{
    width: 20%;
    height: 15%;
    color: #fff;
    background: #3cf;
    border: 0;
    border-radius: 10%;
    margin: 1% 3%;
}

#bt_payForm_cancel{
    width: 20%;
    height: 15%;
    color: #fff;
    background: #CCCCCC;
    border: 0;
    border-radius: 10%;
    margin: 1% 3%;
}

#payInfoTable{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
}

#div_background{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}