a:link,a:visited{
    text-decoration: none;
    color: #000;
}

#div_top {
    width: 100%;
    height: 8%;
    line-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #f0ca37;
    box-shadow: 0 2px 20px #ccc;
    position: relative;
    z-index: 3;
}

#div_title {
    text-align: left;
    padding: 0 0;
    margin: 0 0;
    width: 20%;
    height: 100%;
    line-height:100%;
    float: left;
    color: #f0ca37;
}

dl{
    width: 100%;
    height: 100%;
}

dd{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 35%;
}

#div_left{
    width: 10%;
    height: 10%;
    position: fixed;
    top: 45%;
    left: 0;
    box-shadow: 0 0 20px #ccc;
}

#div_right div{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#addBankcardTable{
    width: 30%;
    height: 25%;
    margin: 15% auto;
    text-align: center;
    box-shadow: 0 0 20px #ccc;
}

#bt_submit{
    width:50%;
    height: 70%;
    border: 0;
    background-color: #3cf;
    color: #fff;
}

.content{
    width: 85%;
    height: 85%;
    position: absolute;
    left: 12%;
    top:12%;
    background: #fff;
}

.content:target{
    z-index: 3!important;
}